/*** *** general style, login & home page *** ***/
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
}

.login-container {
    text-align: center;
    margin-top: 50px;
}

.login-box {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.mantu-logo {
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

.login-box h2 {
    font-family: Arial, sans-serif;
    color: #662179;
}

.error-message {
    color: red;
    font-weight: bold;
}

.form-login {
    margin-bottom: 20px;
}

.form-login input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.form-login input:focus {
    border-color: #a64ca6;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #662179;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #4b0c68;
}

/*** *** home.html *** ***/
.home-container {
    text-align: center;
    margin-top: 50px;
}

.home-box {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 420px;
}

.home-box h2 {
    font-family: Arial, sans-serif;
    color: #662179;
}

.icon-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 40px;
    justify-items: center;
}

.icon-btn {
    width: 80px;
    height: 80px;
    background-color: #b88ac2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.icon-btn:hover {
    background-color: #662179;
}

.icon-btn img {
    width: 40px;
    height: 40px;
    filter: invert(1);
}
