<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="/image/mantu_logo.jpg" alt="Logo" class="login-logo">
            <h2>Please log in</h2>
            <p th:if="${error}" class="error-message">[[${error}]]</p>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">User name</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="submit-btn">Connect</button>
            </form>
        </div>
    </div>
</body>
</html>