<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Please Log In</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/login-home.css}" />
    </head>
    <body>
        <div class="login-container">
            <div class="login-box">
                <img src="/image/mantu-logo.jpg" alt="Logo" class="mantu-logo">
                <h2>Please log in</h2>
                <div class="error-message" th:if="${param.error}">
                    Invalid username and password.</div>
                <div class="error-message" th:if="${param.logout}">
                    You have been logged out.</div>
                <form th:action="@{/login}" method="post">
                    <div class="form-login">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-login">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>
            </div>
        </div>
    </body>
</html>