<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Gateways</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/manageGateways.css}" />
</head>
<body>
<div class="manageGateways-container">
  <img src="/image/mantu-logo.jpg" alt="Logo" class="mantu-logo">
  <table>
    <thead>
    <tr>
      <th>ID Gateway</th>
      <th>Date Commissioning</th>
      <th>Status</th>
      <th>Building</th>
      <th>Floor</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gateway : ${gateways}">
      <td th:text="${gateway.idGateway}"></td>
      <td th:text="${gateway.commissioningDate}"></td>
      <td th:text="${gateway.status ? 'Active' : 'Inactive'}"></td>
      <td th:text="${gateway.batimentName}"></td>
      <td th:text="${gateway.etage}"></td>
      <td th:text="${gateway.emplacement}"></td>
      <td>
        <div class="button-container">
          <a th:href="@{/manage-gateways/monitoring/{id}(id=${gateway.idGateway})}">
            <img src="/image/monitoring-data.svg" alt="Modify" width="20">
          </a>
          <a th:href="@{/manage-gateways/edit/{id}(id=${gateway.idGateway})}">
            <img src="/image/edit-icon.svg" alt="Modify" width="20">
          </a>
          <form th:action="@{/manage-gateways/delete/{id}(id=${gateway.idGateway})}" method="post" class="deleteForm" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" style="background:none; border:none;">
              <img src="/image/delete-icon.svg" alt="Delete" width="20">
            </button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Popup de confirmation -->
  <div id="deleteGatewayPopup" class="modal">
    <div class="modal-content-delete">
      <h2>Confirm delete?</h2>
      <div class="form-buttons-delete">
        <button id="confirmDelete" class="formButton">Delete</button>
        <button id="cancelDelete" class="formButton">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Formulaire pour modifier une gateway -->
  <div id="editGatewayPopup" class="modal" th:if="${gateway != null}">
    <div class="modal-content">
      <h2>Edit Gateway</h2>
      <form th:action="@{/manage-gateways/edit}" th:object="${gateway}" method="post">
        <input id="idGateway" th:field="*{idGateway}" placeholder="ID Gateway" required readonly />
        <input id="commissioningDate" th:field="*{commissioningDate}" placeholder="Date Commissioning" required />
        <select id="status" th:field="*{status}" >
          <option value="true" th:selected="${gateway.status == 'true'}">Active</option>
          <option value="false" th:selected="${gateway.status == 'false'}">Inactive</option>
        </select>
        <input id="batimentName" th:field="*{batimentName}" placeholder="Building" required />
        <input type="number" id="etage" th:field="*{etage}" placeholder="Floor" required />
        <input id="emplacement" th:field="*{emplacement}" placeholder="Location" />
        <div class="form-buttons">
          <button type="submit">Update</button>
          <button type="button" id="closeEdit">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Bouton pour ouvrir la popup Create -->
  <button id="openCreateBtn">Add Gateway</button>

  <!-- Formulaire pour ajouter une Gateway -->
  <div id="createGatewayPopup" class="modal modalCreate">
    <div class="modal-content">
      <h2>Add Gateway</h2>
      <form th:action="@{/manage-gateways/add}" method="post">
        <input type="text" name="idGateway" placeholder="ID Gateway" required />
        <input type="text" name="commissioningDate" placeholder="Commissioning Date" required />
        <select name="status" required>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
        <input type="text" name="batimentName" placeholder="Building" required />
        <input type="number" name="etage" placeholder="Floor" required />
        <input type="text" name="emplacement" placeholder="Location" />
        <div class="form-buttons">
          <button type="submit">Add</button>
          <button type="button" id="closeCreate">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:src="@{/javascript/manageGateways.js}" defer></script>
</body>
</html>
